h2.hikelink {
	font-family: "Arial Black", Gadget, sans-serif
}
img {
  width: 100%;
  height: auto;
	margin: 1px;
}
body {
	background-color: black;
}
hr {
	background-color: white;
	margin: 0 auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	width: 80%;
}
h1.dutchlamb {
	color: #0DFF91;
}
h1.placetitle {
	color: lightblue;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
p {
	color: white;
}
h3.hikename {
	color: lightgreen;
}
p.introitallics {
	font-style: italic;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: lightgray;
}
a:hover {
	text-decoration: underline;
	color: gray;
}
blockquote {
  font: 14px/22px normal helvetica, sans-serif;
	margin-bottom: 0;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
	color: white;
}
